<a href="https://colab.research.google.com/github/AIwithMallesh/Cleaning-Projects-for-Real-World-Science-A-Collection-of-Practical-Projects/blob/main/complete_workflow_of_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Sample Dataset Creation

In [44]:
import pandas as pd
import numpy as np
from datetime import datetime

# Create a sample dataset with various data quality issues
np.random.seed(42)

data = {
    'customer_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['John Doe', 'Alice Smith', 'Bob Johnson', 'Carol Davis', 'Eve Brown',
             'Frank Wilson', 'Grace Lee', 'HENRY MILLER', '  ivy chen  ', 'Jack Taylor'],
    'age': [25, 32, 45, np.nan, 29, 150, 35, 41, 28, -5],
    'email': ['john@email.com', 'alice.smith@email.com', 'bob@email.com',
              'carol.davis@email.com', 'invalid_email', 'frank@email.com',
              'grace.lee@email.com', 'henry@email.com', 'ivy@email.com', 'jack@email.com'],
    'salary': [50000, 75000, 60000, 80000, 55000, 90000, 72000, 68000, 62000, 58000],
    'join_date': ['2020-01-15', '2019-03-22', '2021-07-10', '2018-11-05',
                  '2022-02-28', '2017-12-15', '2020-06-20', '2021-09-14',
                  'invalid_date', '2023-01-10'],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
             'New York', 'los angeles', 'CHICAGO', 'Houston', 'Miami'],
    'purchase_amount': [150.50, 200.75, 180.25, 300.00, 125.50,
                       250.80, 175.25, 220.75, 190.50, 210.25],
    'category': ['A', 'B', 'A', 'C', 'B', 'A', 'B', 'C', 'A', 'D']
}

# Create some duplicate rows by appending duplicates
df = pd.DataFrame(data)
duplicates = df.iloc[[0, 2, 5]].copy()
df = pd.concat([df, duplicates], ignore_index=True)

print(" ORIGINAL DATASET (WITH ALL ISSUES):")
print(f"Dataset shape: {df.shape}")
print("\nFirst 10 rows:")
print(df.info())

 ORIGINAL DATASET (WITH ALL ISSUES):
Dataset shape: (13, 9)

First 10 rows:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      13 non-null     int64
 1   name             13 non-null     object
 2   age              12 non-null     float64
 3   email            13 non-null     object
 4   salary           13 non-null     int64
 5   join_date        13 non-null     object
 6   city             13 non-null     object
 7   purchase_amount  13 non-null     float64
 8   category         13 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.0+ KB
None

In [7]:
print(df.head(10))

   customer_id          name    age                  email  salary  \
0          101      John Doe   25.0         john@email.com   50000
1          102   Alice Smith   32.0  alice.smith@email.com   75000
2          103   Bob Johnson   45.0          bob@email.com   60000
3          104   Carol Davis    NaN  carol.davis@email.com   80000
4          105     Eve Brown   29.0          invalid_email   55000
5          106  Frank Wilson  150.0        frank@email.com   90000
6          107     Grace Lee   35.0    grace.lee@email.com   72000
7          108  HENRY MILLER   41.0        henry@email.com   68000
8          109    ivy chen     28.0          ivy@email.com   62000
9          110   Jack Taylor   -5.0         jack@email.com   58000

      join_date         city  purchase_amount category
0    2020-01-15     New York           150.50        A
1    2019-03-22  Los Angeles           200.75        B
2    2021-07-10      Chicago           180.25        A
3    2018-11-05      Houston           300.00        C
4    2022-02-28      Phoenix           125.50        B
5    2017-12-15     New York           250.80        A
6    2020-06-20  los angeles           175.25        B
7    2021-09-14      CHICAGO           220.75        C
8  invalid_date      Houston           190.50        A
9    2023-01-10        Miami           210.25        D

In [ ]:
#Step 1: Understand Your Data

In [45]:
print(" STEP 1: UNDERSTAND YOUR DATA")
print("="*50)

# Basic information
print("Dataset Info:")
print(f"Shape: {df.shape}")
print(f"Columns: {list(df.columns)}")

print("\nData Types:")
print(df.dtypes)

print("\nBasic Statistics:")
print(df.describe(include='all'))

print("\nMissing Values:")
print(df.isnull().sum())

print("\nDuplicate Rows:")
print(f"Total duplicate rows: {df.duplicated().sum()}")

 STEP 1: UNDERSTAND YOUR DATA
==================================================
Dataset Info:
Shape: (13, 9)
Columns: ['customer_id', 'name', 'age', 'email', 'salary', 'join_date', 'city', 'purchase_amount', 'category']

Data Types:
customer_id          int64
name                object
age                float64
email               object
salary               int64
join_date           object
city                object
purchase_amount    float64
category            object
dtype: object

Basic Statistics:
        customer_id      name        age           email        salary  \
count     13.000000        13   12.00000              13     13.000000
unique          NaN        10        NaN              10           NaN
top             NaN  John Doe        NaN  john@email.com           NaN
freq            NaN         2        NaN               2           NaN
mean     105.000000       NaN   50.00000             NaN  66923.076923
std        2.972092       NaN   48.50492             NaN  13671.512587
min      101.000000       NaN   -5.00000             NaN  50000.000000
25%      103.000000       NaN   27.25000             NaN  58000.000000
50%      105.000000       NaN   33.50000             NaN  62000.000000
75%      107.000000       NaN   45.00000             NaN  75000.000000
max      110.000000       NaN  150.00000             NaN  90000.000000

         join_date      city  purchase_amount category
count           13        13        13.000000       13
unique          10         8              NaN        4
top     2020-01-15  New York              NaN        A
freq             2         4              NaN        7
mean           NaN       NaN       198.930769      NaN
std            NaN       NaN        47.972468      NaN
min            NaN       NaN       125.500000      NaN
25%            NaN       NaN       175.250000      NaN
50%            NaN       NaN       190.500000      NaN
75%            NaN       NaN       220.750000      NaN
max            NaN       NaN       300.000000      NaN

Missing Values:
customer_id        0
name               0
age                1
email              0
salary             0
join_date          0
city               0
purchase_amount    0
category           0
dtype: int64

Duplicate Rows:
Total duplicate rows: 3

In [10]:
#Step 2: Handle Duplicates

In [46]:
print("\n STEP 2: HANDLE DUPLICATES")
print("="*50)

print(f"Before removing duplicates: {df.shape} rows")
df_cleaned = df.drop_duplicates()
print(f"After removing duplicates: {df_cleaned.shape} rows")

# Check for duplicates based on specific columns
print(f"Duplicates based on customer_id: {df_cleaned.duplicated(subset=['customer_id']).sum()}")

 STEP 2: HANDLE DUPLICATES
==================================================
Before removing duplicates: (13, 9) rows
After removing duplicates: (10, 9) rows
Duplicates based on customer_id: 0

In [21]:
#Step 3: Manage Missing Data

In [47]:
print("\n STEP 3: MANAGE MISSING DATA")
print("="*50)

print("Missing values before cleaning:")
print(df_cleaned.isnull().sum())

# Handle missing values in 'age' column (only considering 18–100 range)
valid_age = df_cleaned.loc[(df_cleaned['age'] >= 18) & (df_cleaned['age'] <= 100), 'age']
age_median = valid_age.median()

# Fill missing or invalid age values with this median
df_cleaned.loc[(df_cleaned['age'] < 18) | (df_cleaned['age'] > 100) | (df_cleaned['age'].isna()), 'age'] = age_median

print(f"\nFilled missing or out-of-range age values with median (18–100): {age_median}")


print("\nMissing values after cleaning:")
print(df_cleaned.isnull().sum())

 STEP 3: MANAGE MISSING DATA
==================================================
Missing values before cleaning:
customer_id        0
name               0
age                1
email              0
salary             0
join_date          0
city               0
purchase_amount    0
category           0
dtype: int64

Filled missing or out-of-range age values with median (18–100): 32.0

Missing values after cleaning:
customer_id        0
name               0
age                0
email              0
salary             0
join_date          0
city               0
purchase_amount    0
category           0
dtype: int64

In [24]:
#Step 4: Transform Data Types

In [48]:
print("\n STEP 4: TRANSFORM DATA TYPES")
print("="*50)

print("Data types before cleaning:")
print(df_cleaned.dtypes)

# Convert join_date to datetime
df_cleaned['join_date'] = pd.to_datetime(df_cleaned['join_date'], errors='coerce')

print("\nData types after cleaning:")
print(df_cleaned.dtypes)

# Check for conversion issues
print(f"\nRows with invalid dates: {df_cleaned['join_date'].isnull().sum()}")

 STEP 4: TRANSFORM DATA TYPES
==================================================
Data types before cleaning:
customer_id          int64
name                object
age                float64
email               object
salary               int64
join_date           object
city                object
purchase_amount    float64
category            object
dtype: object

Data types after cleaning:
customer_id                 int64
name                       object
age                       float64
email                      object
salary                      int64
join_date          datetime64[ns]
city                       object
purchase_amount           float64
category                   object
dtype: object

Rows with invalid dates: 1

/tmp/ipython-input-4009955504.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['join_date'] = pd.to_datetime(df_cleaned['join_date'], errors='coerce')

In [42]:
#Step 5: Clean Text Data

In [62]:
print("\n STEP 5: CLEAN TEXT DATA")
print("="*50)

# Clean name column
print("Name column before cleaning:")
print(df_cleaned['name'].unique())

df_cleaned['name'] = df_cleaned['name'].str.strip().str.title()
print("\nName column after cleaning:")
print(df_cleaned['name'].unique())

# Clean city column (standardize casing)
print("\nCity column before cleaning:")
print(df_cleaned['city'].unique())

df_cleaned['city'] = df_cleaned['city'].str.title()
print("\nCity column after cleaning:")
print(df_cleaned['city'].unique())

# Validate email format
print("\nEmail validation:")
import re
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

df_cleaned['is_valid_email'] = df_cleaned['email'].apply(is_valid_email)
print(f"Valid emails: {df_cleaned['is_valid_email'].sum()}/{len(df_cleaned)}")
print("Invalid emails:")
print(df_cleaned[~df_cleaned['is_valid_email']]['email'])

 STEP 5: CLEAN TEXT DATA
==================================================
Name column before cleaning:
['John Doe' 'Alice Smith' 'Bob Johnson' 'Carol Davis' 'Eve Brown'
 'Frank Wilson' 'Grace Lee' 'Henry Miller' 'Ivy Chen' 'Jack Taylor']

Name column after cleaning:
['John Doe' 'Alice Smith' 'Bob Johnson' 'Carol Davis' 'Eve Brown'
 'Frank Wilson' 'Grace Lee' 'Henry Miller' 'Ivy Chen' 'Jack Taylor']

City column before cleaning:
['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix' 'Miami']

City column after cleaning:
['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix' 'Miami']

Email validation:
Valid emails: 9/10
Invalid emails:
4    invalid_email
Name: email, dtype: object

In [54]:
#Step 6: Handle Outliers and Invalid Values

In [63]:
print("\n STEP 6: HANDLE OUTLIERS AND INVALID VALUES")
print("="*50)

print("Age column before cleaning:")
print(df_cleaned['age'].describe())

# Identify and handle outliers in age (reasonable range: 18-100)
age_outliers = df_cleaned[(df_cleaned['age'] < 18) | (df_cleaned['age'] > 100)]
print(f"\nOutliers in age: {len(age_outliers)}")
print(age_outliers[['customer_id', 'age']])

# Replace outliers with median age
valid_age_median = df_cleaned[(df_cleaned['age'] >= 18) & (df_cleaned['age'] <= 100)]['age'].median()
df_cleaned['age'] = np.where((df_cleaned['age'] < 18) | (df_cleaned['age'] > 100),
                           valid_age_median, df_cleaned['age'])

print(f"\nAge column after cleaning (outliers replaced with median: {valid_age_median}):")
print(df_cleaned['age'].describe())

# Handle invalid dates by filling with mode (most common date)
most_common_date = df_cleaned['join_date'].mode()[0]
df_cleaned['join_date'] = df_cleaned['join_date'].fillna(most_common_date)
print(f"\nFilled missing dates with: {most_common_date}")

 STEP 6: HANDLE OUTLIERS AND INVALID VALUES
==================================================
Age column before cleaning:
count    10.000000
mean     33.100000
std       5.971227
min      25.000000
25%      29.750000
50%      32.000000
75%      34.250000
max      45.000000
Name: age, dtype: float64

Outliers in age: 0
Empty DataFrame
Columns: [customer_id, age]
Index: []

Age column after cleaning (outliers replaced with median: 32.0):
count    10.000000
mean     33.100000
std       5.971227
min      25.000000
25%      29.750000
50%      32.000000
75%      34.250000
max      45.000000
Name: age, dtype: float64

Filled missing dates with: 2017-12-15 00:00:00

In [56]:
#Step 7: Data Validation and Final Checks

In [64]:
print("\n STEP 7: DATA VALIDATION AND FINAL CHECKS")
print("="*50)

# Create data quality summary
def data_quality_report(df):
    report = pd.DataFrame({
        'column': df.columns,
        'data_type': df.dtypes.values,
        'non_null_count': df.count().values,
        'null_count': df.isnull().sum().values,
        'null_percentage': (df.isnull().sum() / len(df) * 100).values,
        'unique_count': df.nunique().values
    })
    return report

print("Final Data Quality Report:")
quality_report = data_quality_report(df_cleaned)
print(quality_report)

# Validate data ranges
print("\nData Range Validation:")
print(f"Age range: {df_cleaned['age'].min()} - {df_cleaned['age'].max()}")
print(f"Salary range: ${df_cleaned['salary'].min():,} - ${df_cleaned['salary'].max():,}")
print(f"Join date range: {df_cleaned['join_date'].min()} - {df_cleaned['join_date'].max()}")

# Check for consistency in categorical data
print("\nCategorical Data Summary:")
print("Categories:", df_cleaned['category'].unique())
print("Cities:", df_cleaned['city'].unique())

 STEP 7: DATA VALIDATION AND FINAL CHECKS
==================================================
Final Data Quality Report:
            column       data_type  non_null_count  null_count  \
0      customer_id           int64              10           0
1             name          object              10           0
2              age         float64              10           0
3            email          object              10           0
4           salary           int64              10           0
5        join_date  datetime64[ns]              10           0
6             city          object              10           0
7  purchase_amount         float64              10           0
8         category          object              10           0
9   is_valid_email            bool              10           0

   null_percentage  unique_count
0              0.0            10
1              0.0            10
2              0.0             7
3              0.0            10
4              0.0            10
5              0.0             9
6              0.0             6
7              0.0            10
8              0.0             4
9              0.0             2

Data Range Validation:
Age range: 25.0 - 45.0
Salary range: $50,000 - $90,000
Join date range: 2017-12-15 00:00:00 - 2023-01-10 00:00:00

Categorical Data Summary:
Categories: ['A' 'B' 'C' 'D']
Cities: ['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix' 'Miami']

In [58]:
#Step 8: Final Cleaned Dataset

In [65]:
print("\n FINAL CLEANED DATASET")
print("="*50)

print(f"Final dataset shape: {df_cleaned.shape}")
print("\nFirst few rows of cleaned data:")
print(df_cleaned.head(10))

print("\nDataset info:")
print(df_cleaned.info())

# Save cleaned dataset
df_cleaned.to_csv('cleaned_customer_data.csv', index=False)
print("\n Cleaned dataset saved as 'cleaned_customer_data.csv'")

 FINAL CLEANED DATASET
==================================================
Final dataset shape: (10, 10)

First few rows of cleaned data:
   customer_id          name   age                  email  salary  join_date  \
0          101      John Doe  25.0         john@email.com   50000 2020-01-15
1          102   Alice Smith  32.0  alice.smith@email.com   75000 2019-03-22
2          103   Bob Johnson  45.0          bob@email.com   60000 2021-07-10
3          104   Carol Davis  32.0  carol.davis@email.com   80000 2018-11-05
4          105     Eve Brown  29.0          invalid_email   55000 2022-02-28
5          106  Frank Wilson  32.0        frank@email.com   90000 2017-12-15
6          107     Grace Lee  35.0    grace.lee@email.com   72000 2020-06-20
7          108  Henry Miller  41.0        henry@email.com   68000 2021-09-14
8          109      Ivy Chen  28.0          ivy@email.com   62000 2017-12-15
9          110   Jack Taylor  32.0         jack@email.com   58000 2023-01-10

          city  purchase_amount category  is_valid_email
0     New York           150.50        A            True
1  Los Angeles           200.75        B            True
2      Chicago           180.25        A            True
3      Houston           300.00        C            True
4      Phoenix           125.50        B           False
5     New York           250.80        A            True
6  Los Angeles           175.25        B            True
7      Chicago           220.75        C            True
8      Houston           190.50        A            True
9        Miami           210.25        D            True

Dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      10 non-null     int64
 1   name             10 non-null     object
 2   age              10 non-null     float64
 3   email            10 non-null     object
 4   salary           10 non-null     int64
 5   join_date        10 non-null     datetime64[ns]
 6   city             10 non-null     object
 7   purchase_amount  10 non-null     float64
 8   category         10 non-null     object
 9   is_valid_email   10 non-null     bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 810.0+ bytes
None

 Cleaned dataset saved as 'cleaned_customer_data.csv'

In [60]:
#Step 9: Summary of Changes Made

In [66]:
print("\n SUMMARY OF DATA CLEANING ACTIONS")
print("="*50)

cleaning_summary = {
    "Action": [
        "Removed duplicate rows",
        "Handled missing age values",
        "Fixed invalid dates",
        "Cleaned text formatting (names, cities)",
        "Handled age outliers",
        "Validated email formats",
        "Standardized data types"
    ],
    "Details": [
        f"Removed {len(df) - len(df_cleaned)} duplicate rows",
        f"Filled {df['age'].isnull().sum()} missing values with median",
        f"Fixed {df_cleaned['join_date'].isnull().sum()} invalid dates",
        "Standardized text to title case and removed whitespace",
        f"Fixed {len(age_outliers)} invalid age values",
        f"Found {len(df_cleaned) - df_cleaned['is_valid_email'].sum()} invalid emails",
        "Converted dates to proper datetime format"
    ],
    "Rows Affected": [
        len(df) - len(df_cleaned),
        df['age'].isnull().sum(),
        df_cleaned['join_date'].isnull().sum(),
        "All text columns",
        len(age_outliers),
        len(df_cleaned) - df_cleaned['is_valid_email'].sum(),
        "All date columns"
    ]
}

summary_df = pd.DataFrame(cleaning_summary)
print(summary_df)

print(f"\n Data quality improved from {len(df)} problematic rows to {len(df_cleaned)} clean rows!")

 SUMMARY OF DATA CLEANING ACTIONS
==================================================
                                    Action  \
0                   Removed duplicate rows
1               Handled missing age values
2                      Fixed invalid dates
3  Cleaned text formatting (names, cities)
4                     Handled age outliers
5                  Validated email formats
6                  Standardized data types

                                             Details     Rows Affected
0                           Removed 3 duplicate rows                 3
1                Filled 1 missing values with median                 1
2                              Fixed 0 invalid dates                 0
3  Standardized text to title case and removed wh...  All text columns
4                         Fixed 0 invalid age values                 0
5                             Found 1 invalid emails                 1
6          Converted dates to proper datetime format  All date columns

 Data quality improved from 13 problematic rows to 10 clean rows!