In [16]:
import pandas as pd
import numpy as np

# Create a sample dataset with mixed data types
data = {
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'age': [25, 32, 45, 29, 38],
    'salary': [50000.0, 75000.0, 60000.0, 55000.0, 80000.0],
    'is_active': [True, False, True, True, False],
    'signup_date': pd.to_datetime(['2022-01-15', '2021-03-22', '2023-05-10', '2022-11-30', '2021-07-18']),
    'category': ['A', 'B', 'A', 'C', 'B']
}
df = pd.DataFrame(data)

# Check data types
print("Data Types:")
print(df.dtypes)
print("\n")

# Display the dataframe
print("DataFrame:")
print(df)

Data Types:
customer_id             int64
name                   object
age                     int64
salary                float64
is_active                bool
signup_date    datetime64[ns]
category               object
dtype: object


DataFrame:
   customer_id     name  age   salary  is_active signup_date category
0            1    Alice   25  50000.0       True  2022-01-15        A
1            2      Bob   32  75000.0      False  2021-03-22        B
2            3  Charlie   45  60000.0       True  2023-05-10        A
3            4    Diana   29  55000.0       True  2022-11-30        C
4            5      Eve   38  80000.0      False  2021-07-18        B

In [18]:

problem_df = pd.DataFrame(df)

print("Problem DataFrame:")
print(df)
print("\nData Types:")
print(problem_df.dtypes)

Problem DataFrame:
   customer_id     name  age   salary  is_active signup_date category
0            1    Alice   25  50000.0       True  2022-01-15        A
1            2      Bob   32  75000.0      False  2021-03-22        B
2            3  Charlie   45  60000.0       True  2023-05-10        A
3            4    Diana   29  55000.0       True  2022-11-30        C
4            5      Eve   38  80000.0      False  2021-07-18        B

Data Types:
customer_id             int64
name                   object
age                     int64
salary                float64
is_active                bool
signup_date    datetime64[ns]
category               object
dtype: object

In [ ]:
date_df = pd.DataFrame(date_data)

print("Date DataFrame:")
print(date_df)
print("\nData Types:")
print(date_df.dtypes)

In [15]:
#Create a sample dataset with mixed data types
data = { 'customer_id': [1, 2, 3, 4, 5], 'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
        'age': [25, 32, 45, 29, 38], 'salary': [50000.0, 75000.0, 60000.0, 55000.0, 80000.0],
        'is_active': [True, False, True, True, False],
        'signup_date': pd.to_datetime(['2022-01-15', '2021-03-22', '2023-05-10', '2022-11-30', '2021-07-18']), 
        'category': ['A', 'B', 'A', 'C', 'B'] }
df = pd.DataFrame(data)
# Check data types print("Data Types:")
print(df.dtypes) 
 # Display the dataframe print("DataFrame:")
print(df.info())

customer_id             int64
name                   object
age                     int64
salary                float64
is_active                bool
signup_date    datetime64[ns]
category               object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  5 non-null      int64
 1   name         5 non-null      object
 2   age          5 non-null      int64
 3   salary       5 non-null      float64
 4   is_active    5 non-null      bool
 5   signup_date  5 non-null      datetime64[ns]
 6   category     5 non-null      object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 377.0+ bytes
None

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [7]:
#Common Data Type Problems

In [5]:
# Example of numbers stored as text
problem_data = { 'product_id': ['001', '002', '003', '004'], 'price': ['$19.99', '25.50', '15', '10.99'] }
problem_df = pd.DataFrame(problem_data)
print("Problem DataFrame:")
print(problem_df) 
print("\nData Types:")
print(problem_df.dtypes)

Problem DataFrame:
  product_id   price
0        001  $19.99
1        002   25.50
2        003      15
3        004   10.99

Data Types:
product_id    object
price         object
dtype: object

In [9]:
# need standardization.

In [19]:
import pandas as pd

# Data from the problem
date_data = {
    'event': ['Meeting', 'Conference', 'Workshop'],
    'date': ['15/05/2023', '2023-06-10', 'July 4, 2023']
}
date_df = pd.DataFrame(date_data)

print("Original Date DataFrame:")
print(date_df)
print("\nOriginal Data Types:")
print(date_df.dtypes)
print("-" * 30)


# Fixing the dates stored as text example
# The errors='coerce' argument will turn any unparseable dates into NaT (Not a Time)
date_df['date_clean'] = pd.to_datetime(date_df['date'], errors='coerce')

print("\nCleaned Date DataFrame:")
print(date_df)
print("\nCleaned Data Types:")
print(date_df[['date_clean']].dtypes)

Original Date DataFrame:
        event          date
0     Meeting    15/05/2023
1  Conference    2023-06-10
2    Workshop  July 4, 2023

Original Data Types:
event    object
date     object
dtype: object
------------------------------

Cleaned Date DataFrame:
        event          date date_clean
0     Meeting    15/05/2023 2023-05-15
1  Conference    2023-06-10        NaT
2    Workshop  July 4, 2023        NaT

Cleaned Data Types:
date_clean    datetime64[ns]
dtype: object

C:\Users\telug\AppData\Local\Temp\ipykernel_2660\433169719.py:19: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  date_df['date_clean'] = pd.to_datetime(date_df['date'], errors='coerce')

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [21]:
import pandas as pd

# Data from the problem
date_data = {
    'event': ['Meeting', 'Conference', 'Workshop'],
    'date': ['15/05/2023', '2023-06-10', 'July 4, 2023']
}
date_df = pd.DataFrame(date_data)

print("Original Date DataFrame:")
print(date_df)
print("\nOriginal Data Types:")
print(date_df.dtypes)
print("-" * 30)

# Fixing the dates stored as text example
# Use format='mixed' to handle multiple date formats automatically
date_df['date_clean'] = pd.to_datetime(
    date_df['date'], 
    format='mixed',  # Key fix: Allows mixed formats
    dayfirst=True,   # Optional: Ensures DD/MM parsing for ambiguous slash dates
    errors='coerce'
)

# Drop the original 'date' column and replace with 'date_clean'
date_df = date_df.drop('date', axis=1)
date_df = date_df.rename(columns={'date_clean': 'date'})

print("\nFinal Cleaned Date DataFrame:")
print(date_df)
print("\nFinal Data Types:")
print(date_df.dtypes)

Original Date DataFrame:
        event          date
0     Meeting    15/05/2023
1  Conference    2023-06-10
2    Workshop  July 4, 2023

Original Data Types:
event    object
date     object
dtype: object
------------------------------

Final Cleaned Date DataFrame:
        event       date
0     Meeting 2023-05-15
1  Conference 2023-06-10
2    Workshop 2023-07-04

Final Data Types:
event            object
date     datetime64[ns]
dtype: object