In [1]:
#Messy data

#CustomerID,Name,Age,Email,PurchaseDate,Amount,Category 1,John Smith,32,john@email.com,2023-05-15,150.50,Electronics 2,Jane 
#Doe,,JANE.DOE@EMAIL.COM,2023-05-16,75.00,electronics 3,Bob Johnson,45,bob@company.com,2023-05-17,200.00,Home Goods 1,John 
#Smith,32,john@email.com,2023-05-15,150.50,Electronics 4,Alice Brown,28,,2023-05-18,50.00,Fashion 5,Charlie Wilson,
#52,charlie@email.com,2023-06-01,300.00,ELECTRONICS

In [3]:
import pandas as pd
import numpy as np

In [15]:
#Create a sample dataset with mixed data types
data = { 'customer_id': [1, 2, 3, 4, 5], 'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
        'age': [25, 32, 45, 29, 38], 'salary': [50000.0, 75000.0, 60000.0, 55000.0, 80000.0],
        'is_active': [True, False, True, True, False],
        'signup_date': pd.to_datetime(['2022-01-15', '2021-03-22', '2023-05-10', '2022-11-30', '2021-07-18']), 
        'category': ['A', 'B', 'A', 'C', 'B'] }
df = pd.DataFrame(data)
# Check data types print("Data Types:")
print(df.dtypes) 
 # Display the dataframe print("DataFrame:")
print(df.info())

customer_id             int64
name                   object
age                     int64
salary                float64
is_active                bool
signup_date    datetime64[ns]
category               object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  5 non-null      int64
 1   name         5 non-null      object
 2   age          5 non-null      int64
 3   salary       5 non-null      float64
 4   is_active    5 non-null      bool
 5   signup_date  5 non-null      datetime64[ns]
 6   category     5 non-null      object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 377.0+ bytes
None

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [7]:
#Common Data Type Problems

In [5]:
# Example of numbers stored as text
problem_data = { 'product_id': ['001', '002', '003', '004'], 'price': ['$19.99', '25.50', '15', '10.99'] }
problem_df = pd.DataFrame(problem_data)
print("Problem DataFrame:")
print(problem_df) 
print("\nData Types:")
print(problem_df.dtypes)

Problem DataFrame:
  product_id   price
0        001  $19.99
1        002   25.50
2        003      15
3        004   10.99

Data Types:
product_id    object
price         object
dtype: object

In [9]:
# need standardization.

In [6]:
import pandas as pd

date_data = {
    'event': ['Meeting', 'Conference', 'Workshop'],
    'date': ['15/05/2023', '2023-06-10', 'July 4, 2023']
}
date_df = pd.DataFrame(date_data)

# Approach 2: explicit formats (robust)
def robust_parse(s):
    for fmt in ('%d/%m/%Y', '%Y-%m-%d', '%B %d, %Y'):
        try:
            return pd.to_datetime(s, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT

date_df['parsed_date'] = date_df['date'].apply(robust_parse)

# Standardize to ISO format
date_df['date_iso'] = date_df['parsed_date'].dt.strftime('%Y-%m-%d')

print(date_df[['event', 'date', 'date_iso']])

        event          date    date_iso
0     Meeting    15/05/2023  2023-05-15
1  Conference    2023-06-10  2023-06-10
2    Workshop  July 4, 2023  2023-07-04

AttributeError: 'DataFrame' object has no attribute 'dtype'